<md-content>
	<md-tabs id="as-secondary-menu" class="md-primary" md-center-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Sub Menu Link">
			<md-content layout="column">

				<page-header layout="row">
					<div id="page-info" flex>
						<h2 class="md-headline page-title">Title</h2>
						<p class="md-body-1 page-subtitle">You have <a href="#">2 pending</a> ads to be approved</p>
					</div>
					<md-button layout-align="center center" layout="row" class="toolset">
						<ng-md-icon icon="control_point" style="fill: #65669a" size="15"></ng-md-icon>
						<p>Filter</p>
					</md-button>
					<md-button layout-align="center center" layout="row" class="toolset">
						<ng-md-icon icon="date_range" style="fill: #65669a" size="22"></ng-md-icon>
						<p>Last 30 days</p>
					</md-button>
					<!-- <input ng-model="$ctrl.query"> -->
					<input type="text" ng-model="filterValue" aria-label="filter" class="toolset" placeholder="Search">
					<md-button layout-align="center center" layout="row" class="btn_createnew">
						<ng-md-icon icon="add_circle" style="fill: white" size="18"></ng-md-icon>
						Create New
					</md-button>
				</page-header>

				<md-table headers-class="headerClass" contents-class="contentClass" headers="headers"
					contents="contents" pagination="true" page-count="pageItems" action="true"
					on-action="deleteOperation(selectedContent, $event)" selection="true"
					on-select="selectOperation(checked, selectedContent)" filter="filterValue">
				</md-table>

				</page-content>

			</md-content>
		</md-tab>
		<md-tab label="Sub Menu Link">
			<md-content class="md-padding">
				<h2 class="md-headline page-title">Sub Menu Link</h2>
				<p class="md-body-1 page-subtitle">...</p>
			</md-content>
		</md-tab>
		<md-tab label="Sub Menu Link">
			<md-content class="md-padding">
				<h2 class="md-headline page-title">Sub Menu Link</h2>
				<p class="md-body-1 page-subtitle">...</p>
			</md-content>
		</md-tab>
		<md-tab label="Sub Menu Link">
			<md-content class="md-padding">
				<h2 class="md-headline page-title">Sub Menu Link</h2>
				<p class="md-body-1 page-subtitle">...</p>
			</md-content>
		</md-tab>
		<md-tab label="Sub Menu Link">
			<md-content class="md-padding">
				<h2 class="md-headline page-title">Sub Menu Link</h2>
				<p class="md-body-1 page-subtitle">...</p>
			</md-content>
		</md-tab>
		<md-tab label="Sub Menu Link">
			<md-content class="md-padding">
				<h2 class="md-headline page-title">Sub Menu Link</h2>
				<p class="md-body-1 page-subtitle">...</p>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>