app-component {
  display: block;
  height: 100%;
  background: #f9fbfc;
}

app-component md-toolbar {
  background: #6423ff !important;
  flex: 1 1 auto;
  /* justify-content: space-between; */
  flex-direction: row;
  align-self: flex-start;
}
md-nav-bar {
  flex: 1 1 auto;
  align-self: flex-start;
  text-align: left;
}
app-component md-toolbar h1 a {
  color: white;
  text-decoration: none;
}
app-component md-toolbar h1 {
  font-size: 30px;
  padding: 4px 0 0 36px;
  margin: 0 20px 0 0;
  line-height: 96px;
}
app-component md-toolbar h1 span {
  font-weight: 300;
}
#as-primary-menu .md-nav-item:first-of-type .md-button,
.md-nav-item:first-of-type {
  /* margin: 0; */
}
md-toolbar
  > md-nav-bar.md-default-theme
  > .md-nav-bar
  .md-button._md-nav-button.md-active,
md-toolbar > md-nav-bar > .md-nav-bar .md-button._md-nav-button.md-active,
md-toolbar
  > md-nav-bar.md-default-theme
  > .md-nav-bar
  .md-button._md-nav-button.md-focused,
md-toolbar > md-nav-bar > .md-nav-bar .md-button._md-nav-button.md-focused {
  background: transparent;
}
md-nav-bar.md-default-theme md-nav-ink-bar,
md-nav-bar md-nav-ink-bar {
  background: white;
  height: 3px;
}

#as-primary-menu {
  font-size: 22px;
  text-transform: lowercase !important;
}
#as-primary-menu .md-nav-bar {
  background: transparent;
  border-color: transparent;
  height: 100px;
  border: 0;
}
#as-primary-menu .md-button {
  font-size: 24px;
  height: 100px;
  line-height: 98px;
  text-transform: capitalize;
  padding: 3px 0 0;
  margin: 0 25px 0;
  color: rgb(255 255 255 / 0.6);
}
#as-primary-menu .md-button.md-active {
  color: rgb(255 255 255 / 1);
}

#as-secondary-menu md-tab-item {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
  color: rgba(101, 102, 154, 0.54);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  /* margin: 0 25px; */
  padding: 0;
}
#as-secondary-menu md-tab-item.md-active {
  color: rgba(101, 102, 154, 1);
}
md-tabs[md-border-bottom] md-tabs-wrapper md-tabs-canvas,
md-pagination-wrapper {
  height: auto;
  background: white;
}
md-tabs[md-border-bottom] md-tabs-wrapper {
  border-width: 0;
}
md-tabs.md-primary > md-tabs-wrapper {
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.05);
  z-index: 9999;
}
md-tabs-content-wrapper {
  top: 80px;
}
md-tabs.md-primary
  > md-tabs-wrapper
  > md-tabs-canvas
  > md-pagination-wrapper
  > md-ink-bar {
  background: #6423ff;
  height: 3px;
}

/*
  INFO CARD
*/

md-card.md-default-theme,
md-card {
  background-color: transparent;
  color: white;
  font-size: 40px !important;
  box-shadow: none;
  display: block;
  margin-right: 15px;
}
md-card md-card-title md-card-title-text .md-subhead {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 16px;
  font-weight: 200;
}
md-card md-card-title .md-headline {
  letter-spacing: 1px;
  font-size: 18px;
  line-height: normal;
}
md-card md-card-title {
  /* padding: 0; */
  padding: 22px 16px 12px;
}
md-card md-card-title md-card-title-media .md-media-sm {
  width: 45px;
  height: 45px;
}
md-card .card-media {
  margin: 5px 12px 0 0;
}
md-card .md-card-image {
  border-radius: 30px;
  width: 46px;
  height: 46px;
}
/*
  Search Button
*/
#searchButton {
  margin-top: 12px;
  /* background-color: #eee; */
  text-transform: capitalize;
}
#searchButton span {
  /* display: inline-block; */
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

page-header {
  margin-bottom: 30px;
}

md-input-container {
  /* text-align: right; */
}
md-input-container label {
  color: rgba(255, 255, 255, 0.87);
}
md-input-container .md-input {
  color: rgba(255, 255, 255, 0.87);
  width: 150px !important;
  border-bottom: 1px solid #fff;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused
  .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized
  .md-input,
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
  border-bottom: 1px solid #fff;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused
  .md-input {
  border-bottom: none;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value
  label,
md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
}

md-tabs.md-primary > md-tabs-wrapper,
md-content.md-default-theme,
md-content {
  background-color: transparent !important;
}

#page-info {
  margin-left: 25px;
}
.page-title {
  margin: 0;
  color: #65669a;
  font-weight: 500;
  font-size: 21;
  letter-spacing: 0;
}
.page-subtitle {
  margin: 0;
  color: #98a4ba;
}
.page-subtitle a:link,
.page-subtitle a:visited,
.page-subtitle a:active,
.page-subtitle a {
  color: #506cff;
  font-weight: 500;
}

.toolset {
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(105, 105, 155, 0.2);
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 5px 15px;
}
button.toolset,
input.toolset {
  margin: 6px 4px;
}
input.toolset::placeholder {
  color: rgba(105, 105, 155, 0.2);
  font-size: 12px;
}

md-tab-content {
  padding: 75px 20px 0;
}

.md-button {
  line-height: 10px;
  padding: 5px 15px;
}

.btn_createnew {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  color: white;
  background-color: #65de71;
  border-radius: 5px;
  border: 1px solid #54bd5e;
}

.btn_createnew:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  border: 1px solid #999;

  color: white;
}

.btn_createnew[disabled] {
  color: rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
  border: 1px solid #eee;
}
ng-md-icon {
  margin-right: 5px;
}

/*
Table
*/
md-table {
  margin-left: 10px;
}

/* Rules for sizing the icon. */
.md-18 {
  font-size: 18px;
}
.md-24 {
  font-size: 24px;
}
.md-36 {
  font-size: 36px;
}
.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.md-table-td-more .material-icons {
  color: #eee;
}
