app-component {
  display: block;
  height: 100%;
  background: #f9fbfc;
}

app-component md-toolbar {
  background: #6423ff !important;
  flex: 1 1 auto;
  /* justify-content: space-between; */
  flex-direction: row;
  align-self: flex-start;
}
md-nav-bar {
  flex: 1 1 auto;
  align-self: flex-start;
  text-align: left;
}
app-component md-toolbar h1 {
  font-size: 30px;
  padding: 0 35px;
  margin: 0;
  line-height: 100px;
}
app-component md-toolbar h1 span {
  font-weight: 300;
}
#as-primary-menu .md-nav-item:first-of-type .md-button,
.md-nav-item:first-of-type {
  margin: 0;
}
md-toolbar
  > md-nav-bar.md-default-theme
  > .md-nav-bar
  .md-button._md-nav-button.md-active,
md-toolbar > md-nav-bar > .md-nav-bar .md-button._md-nav-button.md-active,
md-toolbar
  > md-nav-bar.md-default-theme
  > .md-nav-bar
  .md-button._md-nav-button.md-focused,
md-toolbar > md-nav-bar > .md-nav-bar .md-button._md-nav-button.md-focused {
  background: transparent;
}
md-nav-bar.md-default-theme md-nav-ink-bar,
md-nav-bar md-nav-ink-bar {
  background: white;
  height: 3px;
}

#as-primary-menu {
  font-size: 24px;
  text-transform: lowercase !important;
}
#as-primary-menu .md-nav-bar {
  background: transparent;
  border-color: transparent;
  height: 100px;
  border: 0;
}
#as-primary-menu .md-button {
  font-size: 24px;
  height: 100px;
  line-height: 100px;
  text-transform: capitalize;
  padding: 0 8px;
  margin: 0 16px;
}

#as-secondary-menu md-tab-item {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
  color: rgba(101, 102, 154, 0.54);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  margin: 0 25px;
  padding: 0;
}
#as-secondary-menu md-tab-item.md-active {
  color: rgba(101, 102, 154, 1);
}
/* md-tabs.md-default-theme .md-tab,
md-tabs .md-tab {
} */
md-tabs-canvas,
md-pagination-wrapper {
  height: auto;
  background: white;
}
md-tabs.md-primary > md-tabs-wrapper {
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
md-tabs-content-wrapper {
  top: 80px;
}
md-tabs.md-primary
  > md-tabs-wrapper
  > md-tabs-canvas
  > md-pagination-wrapper
  > md-ink-bar {
  background: #6423ff;
  height: 3px;
}

md-card.md-default-theme,
md-card {
  background-color: transparent;
  color: white;
  font-size: 40px !important;
  box-shadow: none;
  display: block;
}
md-card.md-default-theme
  md-card-title
  md-card-title-text:not(:only-child)
  .md-subhead,
md-card md-card-title md-card-title-text:not(:only-child) .md-subhead {
  color: white;
  font-size: 11pt;
  font-weight: 200;
}
md-card md-card-title {
  /* padding: 0; */
  padding: 20px 16px 16px;
}
md-card md-card-title md-card-title-media .md-media-sm {
  width: 45px;
  height: 45px;
}
md-card md-card-title .md-headline {
  font-size: 14pt;
  line-height: normal;
}

md-input-container {
  /* text-align: right; */
}
md-input-container label {
  color: rgba(255, 255, 255, 0.87);
}
md-input-container .md-input {
  color: rgba(255, 255, 255, 0.87);
  width: 150px !important;
  border-bottom: 1px solid #fff;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused
  .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized
  .md-input,
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
  border-bottom: 1px solid #fff;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused
  .md-input {
  border-bottom: none;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value
  label,
md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
}

md-tabs.md-primary > md-tabs-wrapper,
md-content.md-default-theme,
md-content {
  background-color: transparent !important;
}

.page-title {
  margin: 0;
  color: #65669a;
  font-weight: 500;
  font-size: 21;
  letter-spacing: 0;
}
.page-subtitle {
  margin: 0;
  color: #98a4ba;
}
.page-subtitle a:link,
.page-subtitle a:visited,
.page-subtitle a:active,
.page-subtitle a {
  color: #506cff;
  font-weight: 500;
}

md-tab-content {
  padding: 60px 20px;
}

.md-button {
  line-height: 10px;
  padding: 5px 15px;
}

.btn_createnew {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 15px;
  color: white;
  background-color: #65de71;
  border-radius: 5px;
  border: 1px solid #54bd5e;
}

.btn_createnew:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  border: 1px solid #999;

  color: white;
}

.btn_createnew[disabled] {
  color: rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
  border: 1px solid #eee;
}
ng-md-icon {
  margin-right: 5px;
}

/*
Table
*/
