<md-toolbar>


	<h1><a href="./">AUDIO<span>SERVE</span></a></h1>


	<md-nav-bar id="as-primary-menu" *navbar nav-bar-aria-label="navigation links" md-selected-nav-item="pageTab1">

		<md-nav-item ng-repeat="item in primaryMenu" md-nav-href="#!/{{item.value}}" name="{{item.value}}">
			{{item.label}}
		</md-nav-item>

	</md-nav-bar>


	<md-input-container>
		<md-button ng-click="toggleSearch = !toggleSearch" id="searchButton">
			<i class="material-icons md-24">search</i>
			<span class="md-24">Search</span>
		</md-button>
	</md-input-container>


	<user-information-card-component></user-information-card-component>


</md-toolbar>



<div ng-cloak ng-view></div>